In [2]:
import vectorbt as vbt
import pandas as pd
import numpy as np
from numba import njit

In [3]:
factor_data = pd.read_csv('./factors/Div(WMA(WMA($close,10),10),$close).csv')
factor_data = factor_data[factor_data['instrument']=='BTCUSDT_15M_DATA']
factor_data

,datetime,instrument,"Div(WMA(WMA($close,10),10),$close)"
1,2024-06-01 00:00:00,BTCUSDT_15M_DATA,0.999125
4,2024-06-01 00:15:00,BTCUSDT_15M_DATA,0.999377
7,2024-06-01 00:30:00,BTCUSDT_15M_DATA,0.998684
10,2024-06-01 00:45:00,BTCUSDT_15M_DATA,0.997975
13,2024-06-01 01:00:00,BTCUSDT_15M_DATA,0.998632
...,...,...,...
26482,2024-08-31 22:45:00,BTCUSDT_15M_DATA,0.999621
26485,2024-08-31 23:00:00,BTCUSDT_15M_DATA,1.000929
26488,2024-08-31 23:15:00,BTCUSDT_15M_DATA,1.000906
26491,2024-08-31 23:30:00,BTCUSDT_15M_DATA,1.001120
26494,2024-08-31 23:45:00,BTCUSDT_15M_DATA,1.000682

In [18]:
label_data = pd.read_csv('./my_data/basic/BTCUSDT_15m_data.csv')
label_data['label'] = (label_data['Close'].shift(-1)/label_data['Close'])-1
label_data = label_data[['Open_time', 'label']]
label_data.rename(columns={'Open_time':'datetime'}, inplace=True)
label_data

                  datetime     label
0      2022-09-23 06:45:00 -0.002960
1      2022-09-23 07:00:00  0.001344
2      2022-09-23 07:15:00 -0.003371
3      2022-09-23 07:30:00 -0.000557
4      2022-09-23 07:45:00 -0.000534
...                    ...       ...
70070  2024-09-22 05:30:00 -0.000126
70071  2024-09-22 05:45:00  0.000725
70072  2024-09-22 06:00:00  0.000442
70073  2024-09-22 06:15:00 -0.001841
70074  2024-09-22 06:30:00       NaN

[70075 rows x 2 columns]

In [23]:
data = pd.merge(factor_data, label_data, on='datetime', how='left')
data['datetime'] = pd.to_datetime(data['datetime'])
data

,datetime,instrument,"Div(WMA(WMA($close,10),10),$close)",label
0,2024-06-01 00:00:00,BTCUSDT_15M_DATA,0.999125,-0.000398
1,2024-06-01 00:15:00,BTCUSDT_15M_DATA,0.999377,0.000641
2,2024-06-01 00:30:00,BTCUSDT_15M_DATA,0.998684,0.000778
3,2024-06-01 00:45:00,BTCUSDT_15M_DATA,0.997975,-0.000504
4,2024-06-01 01:00:00,BTCUSDT_15M_DATA,0.998632,-0.000743
...,...,...,...,...
8827,2024-08-31 22:45:00,BTCUSDT_15M_DATA,0.999621,-0.001123
8828,2024-08-31 23:00:00,BTCUSDT_15M_DATA,1.000929,0.000117
8829,2024-08-31 23:15:00,BTCUSDT_15M_DATA,1.000906,-0.000213
8830,2024-08-31 23:30:00,BTCUSDT_15M_DATA,1.001120,0.000373
8831,2024-08-31 23:45:00,BTCUSDT_15M_DATA,1.000682,0.001087

In [29]:
tmp = data[(data['datetime'].dt.month==6)&(data['datetime'].dt.day==3)]
tmp['Div(WMA(WMA($close,10),10),$close)'].corr(tmp['label'])

0.13895435208968845

In [20]:
data['Div(WMA(WMA($close,10),10),$close)'].corr(data['label'])

0.00024750121234878294